mongo:
  image: mongo:6
  container_name: mongo
  restart: always
  environment:
    - MONGO_INITDB_ROOT_USERNAME=admin
    - MONGO_INITDB_ROOT_PASSWORD=password123
    - MONGO_INITDB_DATABASE=idurar_db
  ports:
    - "27017:27017"
  volumes:
    - mongo_data:/data/db
  networks:
    - idurar-network
